mode: rule
ipv6: false
mixed-port: 7890
log-level: error
allow-lan: true
unified-delay: true
tcp-concurrent: true
external-controller: 0.0.0.0:9090
external-ui: ./UI
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist-cdn-fonts.zip"
routing-mark: 2
profile:
  store-selected: true
  store-fake-ip: true
  tracing: true
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  sniff:
    HTTP:
      ports: [80]
      override-destination: true
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  skip-domain:
    - Mijia Cloud
    - +.lan
    - +.local
    - +.msftconnecttest.com
    - +.msftncsi.com
    - +.3gppnetwork.org
    - +.openwrt.org
    - +.vsean.net
    - cudy.net

hosts:
  ntc.party: 130.255.77.28

dns:
  enable: true
  listen: 0.0.0.0:7880
  ipv6: false
  nameserver:
    - https://dns.google/dns-query
    - https://dns.quad9.net/dns-query
    - https://dns.cloudflare.com/dns-query
    - https://common.dot.dns.yandex.net/dns-query
    - https://unfiltered.adguard-dns.com/dns-query

proxies:

  - name: Домашний интернет
    type: direct

  - name: "VLESS" # СОХРАНИТЕ ЭТО ИМЯ ЗАМЕНИВ ВСЕ ОСТАЛЬНЫЕ ДАННЫЕ НА ВАШИ
    type: vless
    server: XXX
    port: 443
    uuid: XXX
    encryption: none
    flow: xtls-rprx-vision
    udp: true
    tls: true
    servername: XXX
    client-fingerprint: chrome
    reality-opts:
      public-key: XXX
      short-id: XXX
      spider-x: "/"
    network: tcp

  - name: "WARP через VLESS"
    dialer-proxy: "VLESS" # ТАК WARP РАБОТАЕТ ЧЕРЕЗ VLESS (СКОРОСТЬ ДЕЛИТСЯ С VLESS)
    type: wireguard
    private-key: XXX # ЗДЕCЬ УКАЖИТЕ PrivateKey
    server: 162.159.192.1
    port: 4500
    ip: 172.16.0.2
    public-key: bmXOC+F1FxEMF9dyiK2H5/1SUtzH0JuVo51h2wPfgyo=
    allowed-ips: ['0.0.0.0/0']
    udp: true
    mtu: 1280

  - name: "WARP"
    type: wireguard
    private-key: XXX # ЗДЕCЬ УКАЖИТЕ PrivateKey
    server: 162.159.192.1
    port: 4500
    ip: 172.16.0.2
    public-key: bmXOC+F1FxEMF9dyiK2H5/1SUtzH0JuVo51h2wPfgyo=
    allowed-ips: ['0.0.0.0/0']
    udp: true
    mtu: 1280
    amnezia-wg-option:
      jc: 4
      jmin: 40
      jmax: 70
      s1: 0
      s2: 0
      h1: 1
      h2: 2
      h3: 3
      h4: 4
      i1: <b 0x494e56495445207369703a626f624062696c6f78692e636f6d205349502f322e300d0a5669613a205349502f322e302f55445020706333332e61746c616e74612e636f6d3b6272616e63683d7a39684734624b3737366173646864730d0a4d61782d466f7277617264733a2037300d0a546f3a20426f62203c7369703a626f624062696c6f78692e636f6d3e0d0a46726f6d3a20416c696365203c7369703a616c6963654061746c616e74612e636f6d3e3b7461673d313932383330313737340d0a43616c6c2d49443a20613834623463373665363637313040706333332e61746c616e74612e636f6d0d0a435365713a2033313431353920494e564954450d0a436f6e746163743a203c7369703a616c69636540706333332e61746c616e74612e636f6d3e0d0a436f6e74656e742d547970653a206170706c69636174696f6e2f7364700d0a436f6e74656e742d4c656e6774683a20300d0a0d0a>

proxy-groups:

  - name: "Сервер для YouTube"
    type: fallback
    url: http://gstatic.com/generate_204
    expected-status: 204
    interval: 300
    lazy: true
    icon: https://www.clashverge.dev/assets/icons/youtube.svg
    proxies:
      - "WARP"
      - "WARP через VLESS"
      - "VLESS"
      - "Домашний интернет" # ЕСЛИ ЮТУБ РАБОТАЕТ БЕЗ УСКОРЕНИЙ
      
  - name: "Сервер для нейросетей"
    type: fallback
    url: http://gstatic.com/generate_204
    expected-status: 204
    interval: 300
    lazy: true
    icon: https://www.clashverge.dev/assets/icons/chatgpt.svg
    proxies:
      - "WARP через VLESS"
      - "VLESS"

  - name: "Сервер для российских блокировок"
    type: fallback
    url: http://gstatic.com/generate_204
    expected-status: 204
    interval: 300
    lazy: true
    icon: https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/1f1f7-1f1fa.svg
    proxies:
      - "WARP"
      - "VLESS"
      - "WARP через VLESS"

  - name: "Сервер для зарубежных блокировок"
    type: fallback
    url: http://gstatic.com/generate_204
    expected-status: 204
    interval: 300
    lazy: true
    icon: https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/1f310.svg
    proxies:
      - "VLESS"
      - "WARP через VLESS"

rule-providers:

  youtube:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/YouTube/YouTube.yaml"
    path: ./rule-providers/youtube-list.yaml
    interval: 86400
    
  telegram:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/Telegram/Telegram.yaml"
    path: ./rule-providers/telegram-list.yaml
    interval: 86400

  geoblock:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/Internet-Helper/GeoHideDNS/refs/heads/main/lists/Clash/domains.yaml"
    path: ./rule-providers/geoblock-list.yaml
    interval: 86400
    
  roblox:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/Game/Roblox/Roblox.yaml"
    path: ./rule-providers/roblox-list.yaml
    interval: 86400
    
  roblox-subnet:
    type: http
    format: text
    behavior: ipcidr
    url: "https://raw.githubusercontent.com/itdoginfo/allow-domains/refs/heads/main/Subnets/IPv4/roblox.lst"
    path: ./rule-providers/roblox-subnet-list.lst
    interval: 86400

  tiktok:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/refs/heads/master/rule/Clash/TikTok/TikTok.yaml"
    path: ./rule-providers/tiktok-list.yaml
    interval: 86400

  meta:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Facebook/Facebook.yaml"
    path: ./rule-providers/meta-list.yaml
    interval: 86400

  meta-subnet:
    type: http
    format: text
    behavior: ipcidr
    url: "https://raw.githubusercontent.com/itdoginfo/allow-domains/refs/heads/main/Subnets/IPv4/Meta.lst"
    path: ./rule-providers/meta-subnet-list.lst
    interval: 86400
  
  twitter:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Twitter/Twitter.yaml"
    path: ./rule-providers/twitter-list.yaml
    interval: 86400 

  discord:
    type: http
    format: yaml
    behavior: classical
    url: "https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Discord/Discord.yaml"
    path: ./rule-providers/discord-list.yaml
    interval: 86400

rules:

  # Правила для доменов
  - DOMAIN-SUFFIX,cloudflare-ech.com,Сервер для российских блокировок

  # Правила для списков
  - RULE-SET,youtube,Сервер для YouTube
  - RULE-SET,telegram,Сервер для российских блокировок
  - RULE-SET,geoblock,Сервер для нейросетей
  - RULE-SET,roblox,Сервер для зарубежных блокировок
  - RULE-SET,roblox-subnet,Сервер для зарубежных блокировок
  - RULE-SET,tiktok,Сервер для зарубежных блокировок
  - RULE-SET,meta,Сервер для российских блокировок
  - RULE-SET,meta-subnet,Сервер для российских блокировок
  - RULE-SET,twitter,Сервер для российских блокировок
  - RULE-SET,discord,Сервер для российских блокировок
  
  # Правило для всего остального
  - MATCH,Сервер для российских блокировок
